 <div class="track-card">
     <div class="card">
    <h5> {{name}}</h5>
  </div>
  <div>
    <audio controls src="{{preview_url}}">
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </div>
 </div> 
